{{- if .Values.configEnvVars }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ printf "%s-secretconfigenv" (include "library-chart.fullname" .) }}
  labels:
    {{- include "library-chart.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- range .Values.configEnvVars }}
  {{ .name | trim }}: {{ tpl .value $.Values | quote }}
  {{- end }}
{{- end }}
