{{- if .Values.configEnvVars }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ printf "%s-secretconfigenv" (include "library-chart.fullname" .) }}
  labels:
    {{- include "library-chart.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- $tplContext := merge (dict "Release" $.Release "Chart" $.Chart "Capabilities" $.Capabilities "Template" $.Template "Files" $.Files "Values" $.Values) $.Values }}
  {{- range .Values.configEnvVars }}
  {{ .name | trim }}: {{ tpl .value $tplContext | quote }}
  {{- end }}
{{- end }}
