{{- if or .Values.autoscaling.enabled (not (.Values.global).suspend) }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "library-chart.fullname" . }}
  labels:
    {{- include "library-chart.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "library-chart.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/vnc-secret: {{ include (print $.Template.BasePath "/secret-vnc.yaml") . | sha256sum }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "library-chart.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "library-chart.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          {{- if .Values.service.image.custom.enabled }}
          image: {{ .Values.service.image.custom.version | quote }}
          {{- else }}
          image: {{ .Values.service.image.version | quote }}
          {{- end }}
          imagePullPolicy: {{ .Values.service.image.pullPolicy }}
          env:
            - name: VNC_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ printf "%s-secretvnc" (include "library-chart.fullname" .) }}
                  key: VNC_PASSWORD
            - name: VNC_PORT
              value: {{ .Values.xfce.vncPort | quote }}
            - name: NO_VNC_PORT
              value: {{ .Values.xfce.webPort | quote }}
          envFrom:
            - secretRef:
                name: {{ include "library-chart.secretNameToken" . }}
            {{- if .Values.extraEnvVars }}
            - secretRef:
                name: {{ include "library-chart.secretNameExtraEnv" . }}
            {{- end }}
          ports:
            - name: novnc
              containerPort: {{ .Values.xfce.webPort }}
            - name: vnc
              containerPort: {{ .Values.xfce.vncPort }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
